<% if Current.user.present? %>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <%= link_to "Go Getter!", root_path, class: "brand-logo" %>
        <ul class="right hide-on-med-and-down">
          <li><%= link_to "Settings", settings_path, class: "" %></li>
          <li><%= link_to "Logout", logout_path, class: "" %></li>
          <li class="">
            <a class="dropdown-trigger" href="#!" data-target="dropdown">
              <i class="material-icons">more_vert</i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
<% else %>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <%= link_to "Go Getter!", root_path, class: "brand-logo" %>
        <ul class="right hide-on-med-and-down">
          <li><%= link_to "About Us", about_us_path, class: "" %></li>
          <li><%= link_to "Login", login_path, method: :get,  class: "" %></li>
        </ul>
      </div>
    </nav>
  </div>
<% end %>
